<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'ShareTube' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>fc06fcab-c60e-431b-b8f5-a1a6d6ec8e83</InstrumentationKey>
</ApplicationInsights>