@model ShareTube.Core.ViewModels.RoomListViewModel
@using ShareTube.Core.Extensions


@if (Model.Rooms.Any())
{
    <table class="table table-striped">
        <tr>
            <th>
                Room Name
            </th>
            <th>
                Users
            </th>
        </tr>

        @foreach (var item in Model.Rooms)
        {
            <tr>
                <td>
                    <a href="/Watch/@(item.ID.Encode())">@item.Name</a>
                </td>
                <td>
                    @item.UserCount
                </td>
            </tr>
        }

    </table>

}
else
{
    <div>
        There are currently no public active rooms.
    </div>
}