

    <style>
        #userlist li {
            display:inline;
        }
        #tabs {
            padding-top: 5px;
            padding-left: 20px;
            overflow-y: auto;
            overflow-x: hidden;
            height: 80vh;
        }
    </style>

<div class="row">

    <strong *ngIf="room">Room: {{room.Name}} - encoded: {{room.IdEncoded}}</strong>
    <div id="video" class="col-md-7 col-xs-12 col-sm-12 affix" style="height:100%;">
        Current Video: <div *ngIf="currentVideo">{{currentVideo.Title}}</div>
        <player *ngIf="currentVideo" [video]="currentVideo"></player>
    </div>
    <div id="sidebar" class="col-md-5 col-md-push-7 col-xs-12 col-sm-12" style="min-height:400px;">
        <ngb-tabset id="tabs">
            <ngb-tab title="Queue">
                <ng-template ngbTabContent>
                    <queue *ngIf="room" [room]="room" [roomCmp]="this"></queue>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Related">
                <ng-template ngbTabContent>
                    <related *ngIf="room" [currentVideo]="currentVideo" [roomCmp]="this"></related>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Search">
                <ng-template ngbTabContent>
                    <search *ngIf="room" [room]="room" [roomCmp]="this"></search>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Chat">
                <ng-template ngbTabContent>
                    <p></p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Rooms">
                <ng-template ngbTabContent>
                    <room-list></room-list>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>

<!--<div id="tabs" class="tab-content">
    <div class="tab-pane in active" id="tab-queue">
        <div class="row form-inline" id="videourlFormGroup">
            <input type="text" id="videourl" class="form-control" placeholder="YouTube Url" />
            <button id="videoadd" class="btn btn-primary">Add Video By Url</button>
        </div>
        <div class="row" style="margin-top:5px">
            <table class="table table-condensed table-striped video-queue col-md-10">
                <tbody id="videoQueue"></tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="tab-related">
        <div id="relatedResultsDiv" class="row related-results video-list">
            <div class="video-list-inner">
                <table class="table table-condensed">
                    <tbody id="relatedResults"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab-search">
        <div class="form-inline">
            <div class="form-group">
                <div class="row">
                    <input class="form-control" type="text" id="searchQuery" />
                    <button id="searchButton" class="btn btn-primary">Search</button>
                    <button id="searchPrevPage" class="btn btn-default" disabled>Prev</button>
                    <button id="searchNextPage" class="btn btn-default" disabled>Next</button>
                </div>
                <div class="row" style="padding-top:3px;">
                    <div class="form-group">
                        Type:
                        <div class="radio-inline"><input type="radio" class="radio" name="type" id="radioVideo" value="video" checked /> <label for="radioVideo">Video</label></div>
                        <div class="radio-inline"><input type="radio" class="radio" name="type" id="radioChannel" value="channel" /> <label for="radioAuthor">Channel</label></div>
                        <div class="radio-inline"><input type="radio" class="radio" name="type" id="radioPlaylist" value="playlist" /> <label for="radioPlaylist">Playlist</label></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        Order:
                        <div class="radio-inline"><input type="radio" class="radio" name="orderby" id="radioRelevance" value="relevance" checked /> <label for="radioRelevance">Relevance</label></div>
                        <div class="radio-inline"><input type="radio" class="radio" name="orderby" id="radioViewCount" value="viewCount" /> <label for="radioViewCount">View Count</label></div>
                        <div class="radio-inline"><input type="radio" class="radio" name="orderby" id="radioRating" value="rating" /> <label for="radioRating">Rating</label></div>
                        <div class="radio-inline"><input type="radio" class="radio" name="orderby" id="radioPublished" value="published" /> <label for="radioPublished">Publish date</label></div>
                    </div>
                </div>
                <div id="searchResultDiv" class="row search-results video-list">
                    <div class="video-list-inner">
                        <table class="table table-condensed">
                            <tbody id="searchResults"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab-chat">
        <div id="divChat">
            <h3>Users</h3>
            @*@if (ViewBag.IsUserAuthenticated)
            {
            <div>
                @Html.Partial("_LoginPartial", Url.Action("Watch"))
            </div>
            }*@
            @*else
            {
            <div id="loginDiv">
                @Html.Partial("../Account/_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = Url.Action("WatchLoginCallback", routeValues: new { id = Model.RoomID }) })
            </div>
            }*@

            <ul id="userlist"></ul>
            <div id="chat">
                <h4> Chat - Twitch Emotes Work!</h4>
                <div id="messagelog" style="overflow-y:auto;height:200px">
                    <ul id="discussion"></ul>
                </div>
                @*<div class="row">
                    <div class="pull-left" style="width:82%;padding-left:15px; padding-right:10px;">
                        <textarea id="message" class="form-control" style="resize:none;display:inline;"></textarea>
                    </div>
                    <div class="pull-left">
                        <button id="sendmessage" class="btn btn-primary" style="display:inline;">Send</button>
                    </div>
                    <div class="clearfix"></div>
                </div>*@
                <div class="row" style="padding-right:10px">
                    <div class="col-xs-8 col-sm-10 col-md-8 col-lg-10">
                        <textarea id="message" class="form-control" style="resize:none;display:inline;"></textarea>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                        <button id="sendmessage" class="btn btn-primary" style="display:inline;">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab-rooms">
        @{
        var refreshAjaxOptions = new AjaxOptions()
        {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "roomList"
        };
        using (Ajax.BeginForm("RoomListAjax", refreshAjaxOptions))
        {
        <div class="row">
            <input class="btn btn-primary" type="submit" id="btnRefreshRooms" value="Refresh" />
            @Html.ActionLink("Create New", MVC.ShareTube.Index(), new { @class = "btn btn-default" })
        </div>
        <div class="row">
            <div id="roomList">
                @Html.Partial("RoomList", (object)ViewBag.OtherRooms)
            </div>
        </div>
        }
        }
    </div>
    <div class="tab-pane" id="tab-subs">
        <div class="row">
            <button class="btn btn-primary" id="btnLoadSubscriptions">Load Subscriptions</button>
        </div>
        <div id="divSubscriptions">

        </div>
    </div>
</div>-->